:root {
    --purple: #574AE8;
    --light-gradient: #3EA1DB;
    --azul-degrade: linear-gradient(97.54deg, #574AE8 20%, #3EA1DB 80%);

    --white: #FFFFFF;
    --white-200: red;
    --gray: #717171;
    --gray-dark: #1A202C;
    --purple: #574AE8;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}