* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__container {
    width: 100%;
    height: 250px;
    background: var(--azul-degrade);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 73px;
    align-items: center;
}

.header__titulo__subtitulo {
    margin-top: 41px;
    font-size: 24px;
    color: var(--white);
    display: flex;
    justify-content: center;
    gap: 716px;
}

.header__input {
    display: flex;
    flex-direction: row;
    border: 0;
    margin-bottom: 41px;
    border-radius: 5px;
    width: 900px;
    height: 65px;
    font-family: 'Inter', sans-serif;
    background: rgba(255, 255, 255, 0.2);
}

.header__input::placeholder {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    text-align: left;
    padding-left: 40px;
    opacity: 0.5;
}